<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fitsta</title>
    <link rel="icon" href="15103373071553508372-256.png">
    <link rel="stylesheet" href="https://use.typekit.net/bwh5yof.css">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="welcomeStyle.css">
</head>
<body>
    <header>
        <div class="top-nav-div">
            <nav class="top-nav" id="topNav">
                <ul class="menu-list">
                    
                    <a href="/home"><img src="15103373071553508372-256.png" alt="Fitsta Logo" width="40px" id="logo"></a>
                    <a href="/home">Home</a>
                    <a href="/MealsPacks">Meals Packages </a>
                    <a href="#socialMedia">Contact Us</a>
                    <a href="#aboutUs">About Us</a>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        <div class="welcome-hero">
            <div class="welcome-hero-div">
                <h1>Welcome to our family {{data}}</h1>
                <a href="/LoginPage"><button>Login</button></a>
            </div>
        </div>
    </main>
    <footer>

        
        <div class="social-media" id="socialMedia">
            <h4>Contact Us</h4>
            <a href="instagram.com"><img src="5639255371566470606-64.png" alt="instagram"></a>
            <a href="facebook.com"><img src="97255801586787813-64.png" alt="Facebook"></a>
            <a href="Twitter.com"><img src="7140107361586787870-64.png" alt="Twitter"></a>

            
        </div>
    </footer>
</body>